[tool.poetry]
name = "wonda"
version = "0.6.4"
description = "Asynchronous feature-rich framework for building Telegram bots"
authors = []
license = "MIT"
readme = "README.md"
homepage = "https://github.com/wondergram-org/wonda/"

[tool.poetry.dependencies]
python = "^3.10"
certifi = "^2023.7.22"
aiohttp = "^3.8.5"
structlog = "^23.1.0"
choicelib = "^0.1.5"
msgspec = "^0.18.0"

[tool.poetry.group.dev.dependencies]
black = "^22.6.0"
isort = "^5.12.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
