[tool.poetry]
name = "wonda"
version = "0.7.1"
description = "A fast, convenient bot framework for Telegram."
authors = []
license = "MIT"
readme = "README.md"
homepage = "https://github.com/wondergram-org/wonda/"

[tool.poetry.dependencies]
python = "^3.10"
certifi = "^2023.7.22"
aiohttp = "^3.8.5"
structlog = "^23.1.0"
choicelib = "^0.1.5"
msgspec = "^0.18.6"

[tool.poetry.group.dev.dependencies]
mypy = "^1.5.1"
ruff = "^0.4.9"

[tool.ruff.lint.per-file-ignores]
"__init__.py" = ["F401"]

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
